<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-position-heading" jhiTranslate="ghemApp.position.home.createOrEditLabel">Create or edit a Position</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ghemApp.position.position" for="field_position">Position</label>
                    <input type="number" class="form-control" name="position" id="field_position"
                           formControlName="position"/>
                    <div *ngIf="editForm.get('position')!.invalid && (editForm.get('position')!.dirty || editForm.get('position')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('position')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('position')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ghemApp.position.schedule" for="field_schedule">Schedule</label>
                    <select class="form-control" id="field_schedule" name="schedule" formControlName="scheduleId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="scheduleOption.id" *ngFor="let scheduleOption of schedules; trackBy: trackById">{{ scheduleOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ghemApp.position.exercise" for="field_exercise">Exercise</label>
                    <select class="form-control" id="field_exercise" name="exercise" formControlName="exerciseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="exerciseOption.id" *ngFor="let exerciseOption of exercises; trackBy: trackById">{{ exerciseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
